<form [formGroup]="form" (ngSubmit)="signup()" class="signUp">
  <h2 class="text-center text-primary">Sign up</h2>

  <mat-form-field id="emailSignUp">
    <input matInput #input formControlName='username' placeholder="Email">
    <mat-error *ngIf="!this.form.controls.username.valid">{{ getEmailErrorMessage() }}</mat-error>
  </mat-form-field>

  <mat-form-field id="passwordSignUp">
    <input matInput #input type="password" formControlName="password" placeholder="Password">
    <mat-error *ngIf="!this.form.controls.password.valid">{{ getPasswordErrorMessage() }}</mat-error>
  </mat-form-field>

  <div class="form-group text-center">
    <button mat-raised-button type="submit" [disabled]="!form.valid">Sign In</button>
  </div>
</form>
