<div class="container">
  <form [formGroup]="addPatientForm" (ngSubmit)="addPatient()">
    <mat-horizontal-stepper [linear]="isLinear">

      <!-- First step -->
      <mat-step>
        <ng-template matStepLabel>Informatii pacient</ng-template>
        <div id="pacient">
          <mat-form-field>
            <mat-label>Nume pacient</mat-label>
            <input matInput #input formControlName="name" placeholder="Nume pacient">
            <mat-error *ngIf="hasError('name', 'required')" class="help-block">Numele este obligatoriu</mat-error>

          </mat-form-field>
          <mat-form-field>
            <mat-label>CNP</mat-label>
            <input matInput #input formControlName="cnp" placeholder="CNP" [(ngModel)]="cnpPatient">
            <mat-hint align="end">CNP-ul trebuie sa contina 13 caractere</mat-hint>
            <mat-error *ngIf="hasError('cnp', 'pattern')" class="help-block">CNP-ul poate contine doar cifre</mat-error>
            <mat-error *ngIf="hasError('cnp', 'maxlength')" class="help-block">CNP-ul are mai mult de 13 caractere
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Telefon pacient</mat-label>
            <input matInput #input formControlName="phonePacient" placeholder="Telefon pacient">
            <mat-hint align="end">Numarul de telefon trebuie sa contina 10 cifre</mat-hint>
            <mat-error *ngIf="hasError('phonePacient', 'required')" class="help-block">Numarul de telefon este
              obligatoriu
            </mat-error>
            <mat-error *ngIf="hasError('phonePacient', 'maxlength')" class="help-block">Numarul de telefon are mai mult
              de 10 cifre
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Medic</mat-label>
            <mat-select formControlName="medic">
              <mat-option *ngFor="let doctor of doctors" [value]="doctor.name">
                {{ doctor.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="addPatientForm.get('medic').invalid && addPatientForm.get('medic').touched"
              class="help-block">Selectarea unui medic este obligatorie</mat-error>
          </mat-form-field>

            <mat-checkbox color="primary" formControlName="consimtamant">
              Consimtamant</mat-checkbox>

        </div>
        <div>
          <button type="button" mat-button matStepperNext [disabled]="addPatientForm.get('medic').invalid || addPatientForm.get('phonePacient').invalid ||
                      addPatientForm.get('cnp').invalid || addPatientForm.get('name').invalid">Next</button>
        </div>
      </mat-step>

      <!-- Second step -->
      <mat-step>
        <ng-template matStepLabel>Important</ng-template>
        <div id="importantForm">
          <mat-form-field>
            <mat-label>Boli</mat-label>
            <input matInput #input formControlName="boli" placeholder="Boli">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Alergi</mat-label>
            <input matInput #input formControlName="alergi" placeholder="Alergi">
          </mat-form-field>
          <div >
            <label for="chooseFile" class="btn">Incarca document</label>
            <input formControlName="consimtamant" id="chooseFile" type="file" (change)="onFileSelected($event)"
              accept=".png, .jpg, .pdf .jpeg">
              Upload percentage: <span>{{percent || 0}}%</span>
          </div>
          <progress max="100" [value]="(uploadProgress | async)" *ngIf="percent === 100">Fisierul a fost incarcat</progress>
        </div>
        <div>
          <button type="button" mat-button matStepperNext>Next</button>
        </div>
      </mat-step>

      <!-- Third step -->
      <mat-step>
        <ng-template matStepLabel>Plan tratament stomatologic</ng-template>
        <div id="manopera">
          <div formArrayName="manopere"
            *ngFor="let manopere of addPatientForm.get('manopere')['controls']; let i = index;">


            <div [formGroupName]="i">
              {{i+1}}
              <mat-form-field>
                <mat-label>Manopera</mat-label>
                <input matInput #input formControlName="manopera" placeholder="Manopera">
              </mat-form-field>
              <mat-form-field>
                <mat-label>Medic</mat-label>
                <mat-select formControlName="medic">
                  <mat-option *ngFor="let doctor of doctors" [value]="doctor.name">
                    {{ doctor.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

          </div>
          <button style="float:right;" class="col-md-2" mat-raised-button color="primary" type="button" (click)="addManopere()"> Adauga manopera</button>

          <!-- <app-add-plan-manopera [cnpPacient]="cpn()"></app-add-plan-manopera> -->
        </div>
        <div>
          <button type="button" mat-button matStepperNext>Next</button>
        </div>
      </mat-step>

      <!-- Last step -->
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <div>
          <div class="form-group">
            <button mat-raised-button color="primary" type="submit"
              [disabled]="addPatientForm.invalid">Salveaza</button>
          </div>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </form>
</div>
