<div class="container">
  <br>
  <mat-card>
    <mat-card-title>
      Plan manopera pacient
    </mat-card-title>
    <mat-card-subtitle>
        <form [formGroup]="planManoperaForm">
            <mat-form-field>
              <mat-label>Manopera</mat-label>
              <input matInput #input formControlName="manopera" placeholder="Manopera">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Medic</mat-label>
              <mat-select formControlName="medic">
                <mat-option *ngFor="let doctor of doctors" [value]="doctor.name">
                  {{ doctor.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <button type="button" (click)="add()">+</button>
          </form>
          <table  class="table table-responsive"
                  *ngIf="manoperaList.length > 0">
            <thead>
              <tr>
                <td>Medic</td>
                <td>Manopera</td>
              </tr>
            </thead>
            <tbody *ngFor="let item of manopere">
              <tr>
                <td>{{item.medic}}</td>
              <td>{{item.manopera}}</td>
              <td><mat-checkbox [value]="item.isFinished"></mat-checkbox></td>
              </tr>
            </tbody>
          </table>
          
          <div *ngFor="let item of arr">
          <!-- {{item[i].medic}}
          {{i}} -->
          <div *ngFor="let x of manopere[item]">
            {{x.medic}}
          </div>
          </div>
    </mat-card-subtitle>
  </mat-card>

</div>

