table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  margin: 10px 0 0 10px;
  right: 0;
}


#addAppointment {
  float: right;
}

#deletePatient {
  float: right;
  margin-left: 2px;
}

#button-text, #deletePatient {
  display: inline;
}


#addPatient {
  float: right;
  padding-top: 10px;
  padding-right: 25px;
}

i {
  padding-top: 5px;
  padding-left: 10px;
}

#addEvent {
  display: flex;
  flex-direction: column;
}

.mat-elevation-z8 {
  margin-top: 20px;
}

.button-text-mobile {
  display: none;
}

i{
  cursor: pointer;
}

#add {
  width: 100%;
  margin-left: 0;
}

.form-group {
  margin-left: 10px;
}

.form-group input {
  width: 80%;
  padding-right: 0;
  overflow: hidden;
  display: inline;
}

.form-group span {

  float: right;

}

@media only screen and (max-width: 450px) {
  .button-text {
    display: none;
  }

  .button-text-mobile {
    display: inline;
    padding: 0 10px;
  }

  .container {
    padding: 0;
    width: 100%;
  }

}
