table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  margin: 10px 0 0 10px;
  right: 0;
}

#addAppointment {
  clear: both;
  float: right;
  overflow: hidden;

}

#addPatient {
  float: right;
  padding-top: 10px;
  padding-right: 25px;
}

 i{
   padding-top: 5px;
   padding-left: 10px;
 }

#addEvent {
  display: flex;
  flex-direction: column;
}

.mat-elevation-z8 {
  margin-top: 20px;
}

.owl-dt-popup.dt2 {
  right: 34.4em !important;

}

.form-group {
  padding-top: 10px;
  margin-left: 10px;
}

div.owl-dt-popup.dt2 {
  left: 34.4px !important;
}

.button-text-mobile {
  display: none;
}
i{
  cursor: pointer;
}

@media only screen and (max-width: 450px) {
  .button-text {
    display: none;
  }

  .button-text-mobile {
    display: inline;
  }
}
