<form [formGroup]="form" (ngSubmit)="add()" id="addDoctor">

  <mat-form-field>
    <mat-label>Nume</mat-label>
    <input matInput #input formControlName='name' placeholder="Nume">
    <mat-error *ngIf="!this.form.controls.name.valid">{{ getNameErrorMessage() }}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Specializare</mat-label>
    <input matInput #input formControlName="specializare" placeholder="Specializare">
    <mat-error *ngIf="!this.form.controls.specializare.valid">{{ getSpecializationErrorMessage() }}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Cabinet</mat-label>
    <input matInput #input formControlName="cabinet" placeholder="Cabinet">
    <mat-error *ngIf="!this.form.controls.cabinet.valid">{{ getCabinetErrorMessage() }}</mat-error>
  </mat-form-field>

  <div class="form-group text-center">
    <button mat-raised-button type="submit" [disabled]="!form.valid">Add</button>
  </div>
</form>
<div class="container" id="doctorsList">
    <mat-list *ngFor="let item of doctors">
      <mat-list>{{ item.name}}, Specializare: {{ item.specializare }}, Cabinet: {{ item.cabinet }}</mat-list>
    </mat-list>
  </div>
