/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "../node_modules/ngx-datetime-picker/ngx-datetime-picker.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.toast-top-right {
  top: 60px !important;
  margin: 0 auto;
}

ngx-datetime-picker {
  margin-bottom: 20px;
}

@media only screen and (max-height: 570px) {

  .modal-header {
    width: auto;
    margin-top: 0;
    padding-top: 0;
  }

  .modal-title {
      font-size: 14px;
  }
}

.cal-day-view .cal-event{
  color:white !important;
}


#text {
  color: white !important;
}