<div class="container" id="dashboard">
  <app-calendar-header [(view)]="view" [(viewDate)]="viewDate"></app-calendar-header>
  <hr>
  <div *ngFor="let doctor of doctors" class="doctors">
    <input type="checkbox" (change)="filterData($event, doctor.name)"> {{ doctor.name }}
  </div>
  <hr>

  <div [ngSwitch]="view">
    <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view  *ngSwitchCase="'day'"
                            [viewDate]="viewDate"
                            [events]="events"
                            (hourSegmentClicked)="openDialog(addContent); clickedDate = $event.date">
    </mwl-calendar-day-view>
  </div>
</div>

<!-- Modal for adding a new appointment -->
<ng-template #addContent let-modal id="addModal">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Adauga programare </h4>
      <button type="button" class="close" aria-label="Close" (click)="onNoClick()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
      <p> You clicked on: {{ clickedDate | date: 'medium' }}</p>
  </ng-template>
