h3 {
  margin: 0 0 10px;
}

pre {
  background-color: #f5f5f5;
  padding: 15px;
}

#dashboard {
  margin-top: 40px;
  margin-left: auto;
}

.doctors {
  display: inline;
  margin-right: 10px;
}

#addAppointment {
  display: flex;
  flex-direction: column;
}
