<div class="container">

  <br>
  <div class="mat-elevation-z8">
    <mat-card-title>
      Istoric manopere pacient
      <app-add-manopera></app-add-manopera>
    </mat-card-title>

    <!-- <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Interventie</th>
        <td mat-cell *matCellDef="let item">{{ item.title }}</td>
      </ng-container>

      <ng-container matColumnDef="start">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Data</th>
        <td mat-cell *matCellDef="let item">{{ item.start | date: 'medium' }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table> -->
  </div>

</div>
