<form [formGroup]="loginForm" (ngSubmit)="login()" class="login">
  <mat-form-field id="emailLogin">
    <input matInput #input formControlName='username' placeholder="Email">
    <mat-error *ngIf="!this.loginForm.controls.username.valid">{{ getEmailErrorMessage() }}</mat-error>
  </mat-form-field>

  <mat-form-field id="passwordLogin">
    <input matInput #input [type]="passwordType" formControlName="password" placeholder="Password">
    <mat-icon matSuffix (click)="togglePassword()">{{ visibilityIcon }}</mat-icon>
    <mat-error *ngIf="!this.loginForm.controls.password.valid">{{ getPasswordErrorMessage() }}</mat-error>
  </mat-form-field>
  <br>
  <div class="form-group text-center">
    <button mat-raised-button class="btn btn-success" type="submit" [disabled]="!loginForm.valid">Login</button>
  </div>
</form>
