<form [formGroup]="manoperaForm" (ngSubmit)="addManopera()">
  <mat-form-field>
    <mat-label>Medic</mat-label>
    <mat-select formControlName="medic">
      <mat-option *ngFor="let doctor of doctors" [value]="doctor.name">
        {{ doctor.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Manopera</mat-label>
    <mat-select formControlName="manopera">
      <mat-option *ngFor="let doctor of planManopere" [value]="doctor.manopera">
        {{ doctor.manopera }}
      </mat-option>
    </mat-select>
  </mat-form-field>

    <input #input [owlDateTime]="dt1" formControlName="data" placeholder="Data">
    <span class="trigger" [owlDateTimeTrigger]="dt1">
      <i class="material-icons">calendar_today</i>
    </span>
    <owl-date-time #dt1></owl-date-time>


  <mat-form-field>
    <mat-label>Tehnician</mat-label>
    <input matInput #input formControlName="tehnician" placeholder="Tehnician">
  </mat-form-field>
  <div class="form-group">
    <button mat-raised-button color="primary" type="submit" [disabled]="manoperaForm.invalid">Salveaza</button>
  </div>
</form>