<form [formGroup]="manoperaForm" (ngSubmit)="addManopera()">
  <mat-form-field>
    <mat-label>Medic</mat-label>
    <mat-select formControlName="medic">
      <mat-option *ngFor="let doctor of doctors" [value]="doctor.name">
        {{ doctor.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
      <mat-label>Manopera</mat-label>
      <mat-select formControlName="manopera">
          <mat-option *ngFor="let doctor of planManopere" [value]="doctor.manopera">
            {{ doctor.manopera }}
          </mat-option>
        </mat-select>
  </mat-form-field>
  <mat-form-field>
      <mat-label>Data</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="data">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Tehnician</mat-label>
    <input matInput #input formControlName="tehnician" placeholder="Tehnician">
  </mat-form-field>
  <div class="form-group">
      <button mat-raised-button color="primary" type="submit" [disabled]="manoperaForm.invalid">Salveaza</button>
    </div>

</form>