<form [formGroup]="form" (ngSubmit)="add()" id="addRoom">
  <mat-form-field>
    <mat-label>Nume</mat-label>
    <input matInput #input formControlName='name' placeholder="Nume">
    <mat-error *ngIf="!this.form.controls.name.valid">{{ getNameErrorMessage() }}</mat-error>
  </mat-form-field>
  <div class="form-group">
    <button mat-raised-button type="submit" [disabled]="this.form.invalid">Add</button>
  </div>
</form>
<div class="container" id="doctorsList">
  <mat-label>Lista cabinetelor </mat-label>
    <mat-list *ngFor="let item of rooms">
      <mat-list> {{ item.name }}</mat-list>
    </mat-list>
  </div>
